@import "../../variables/colors";

.navigation {

  padding-top: 80px;

  &__list {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

  }
  &__el {

    margin-right: 80px;

    &:last-child {

      margin-right: 0;

    }

    & a {

      color: black;
      text-decoration: none;
      font-family: 'Outfit', sans-serif;

    }

  }

}