<div class="filter">
    <div class="filter__background"></div>
    <div class="filter__input">
        <span>Filter</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="white"/></svg>
    </div>
    <div class="filter__containerList">
        <ul class="filter__list">
            <li class="filter__el">
                <span>Category</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="black"/></svg>
                <button class="button-category" onclick="filterProduct('Architecture')">Architecture</button>
                <button class="button-category" onclick="filterProduct('Portrait')">Portrait</button>
                <button class="button-category" onclick="filterProduct('Abstract')">Abstract</button>
            </li>
            <li class="filter__el">
                <span>Artists</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="black"/></svg>
            </li>
            <li class="filter__el">
                <span>Date</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="black"/></svg>
            </li>
            <li class="filter__el">
                <span>Color</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="black"/></svg>
            </li>
            <li class="filter__el">
                <span>Size</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="black"/></svg>
            </li>
        </ul>
    </div>
</div>