<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__el">
            <a href="index.html">Limited</a>
        </li>
        <li class="navigation__el">
            <a href="about.html">Artist</a>
        </li>
        <li class="navigation__el">
            <a href="#">Paintings</a>
        </li>
        <li class="navigation__el">
            <a href="#">Drawings</a>
        </li>
        <li class="navigation__el">
            <a href="#">Sculpture</a>
        </li>
        <li class="navigation__el">
            <a href="#">Curated collections</a>
        </li>
        <li class="navigation__el">
            <a href="#">Photographing</a>
        </li>
    </ul>
</nav>
