{% extends 'layout/layout.twig' %}

{% block content %}

    <div class="hero">
        {% include 'components/molecules/navigation.twig' %}

        <h1>Feature Artworks</h1>
    </div>

    {% include 'components/organisms/list-artworks.twig' %}

    {% include 'components/molecules/filter.twig' %}

{% endblock %}